@charset "UTF-8";
#kgrid {
  position: relative;
  top: 13.856em;
  left: 16em; }

.hidden {
  display: none; }

table.hextable {
  font-family: monospace;
  font-size: 24px; }
  table.hextable td.inuse {
    background-color: lightgreen; }
    table.hextable td.inuse input {
      width: 1em;
      text-align: center; }
  table.hextable td {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    text-align: center; }
  table.hextable tr:nth-child(2n) td {
    left: 0.75em; }

.rule_parent {
  position: absolute; }

.deg0 .rule_parent {
  right: 0px; }

.deg120 .rule_parent {
  top: 0px;
  left: -0.3em;
  -webkit-transform: rotate(240deg); }

.deg240 .rule_parent {
  bottom: 0px;
  -webkit-transform: rotate(120deg); }

.rule_text {
  color: crimson; }

.rule_text.matched {
  color: #aaaaaa !important; }

.rule_text {
  position: absolute;
  white-space: pre;
  right: 0px;
  top: -0.5em; }

.rule_text:before {
  color: #aaaaaa;
  content: "/"; }

.rule_text:after {
  color: #aaaaaa;
  content: "/→"; }
