!!!5
%html
  %head
    %title regex-crossword
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  %body
    %a(href="http://boingboing.net/2013/02/11/regular-expressions-crossword.html") from this post
    %br
    %a(href="//jokester.github.com/regex-crossword/") demo page
    %br
    %a(href="//github.com/jokester/regex-crossword") github page
    #control
    #kgrid
  %script(src="crossword.js")
  %script(src="main.js")
