!!!5
%html
  %head
    %title regex-crossword
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  %body
    %a(href="/test") test
    #mainframe
      #grid
        left-half
      #history
        right-half
    #qunit
    #qunit-fixture
  %script(src="crossword.js")

