!!!5
%html
  %head
    %title regex-crossword
    %link(rel="stylesheet" type="text/css" href="style.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  %body
    %a(href="/test") test
    #krossword-grid
  %script(src="crossword.js")
